<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcd.vcd115.mapper.AdminMapper">
    <select id="checkNameAndPass" resultType="com.vcd.vcd115.entity.Admin">
        select * from vcd.admin where sname = #{sname};
    </select>
</mapper>